/* Remove dark-nav class from nav tag to see the light version  */
  body{
         width: 100%;
         overflow-x: hidden;

         }
* {
  font-family: Montserrat;
}

.container:after, .container:before {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}


img.logo {
    width: 250px;
    margin-left: 60%;
}
a.nav-link {
    font-size: 16px;
    color: #000 !important;
    font-weight: 600;
}
img.banner-img {
    width: 97%;
}
.banner {
    background: linear-gradient(0deg, rgba(20,0,70,1) 0%, rgba(102,96,126,1) 90%);
    padding-left: 11%;
    padding-bottom: 39px;
    padding-top: 6%;
    padding-right: 35px;
    width: 100% !important;
    overflow: hidden;
}
h2.banner-title {
    color: #140044;
    font-weight: 600;
    font-size: 35px;
}
p.banner-subhead {
    color:#140044;
    font-size: 20px;
}
.reviews {
    width: 100% !important;
    overflow: hidden;
}
a.login {
    background: linear-gradient(0deg, rgba(228,66,91,1) 0%, rgba(240,106,92,1) 60%);
    color: #fff !important;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    margin-top: -3px;
    line-height: 25px !important;
    text-align: center;
}
a.sign.up {
    background: #140044;
    color: #fff !important;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    margin-top: -3px;
    line-height: 25px !important;
    text-align: center;
margin-left: 12px;
}

button.getstarted {
    background: linear-gradient(0deg, rgba(228,66,91,1) 0%, rgba(240,106,92,1) 60%);
    color: #fff !important;
    border-radius: 30px;
    margin-top: 12px;
    line-height: 40px !important;
    text-align: center;
    border: none;
    padding: 5px 50px 5px 50px;
}
.feature {
    text-align: center;
    background: #f5f7f8;
}
.feature-box {
    margin: 0 auto;
}


.testimonial-section2 {
    position: relative;
    padding: 50px 0 0 0;
    background: linear-gradient(0deg, rgba(228,66,91,1) 0%, rgba(240,106,92,1) 60%);
    width: 100% !important;
    overflow: hidden;
}

.h2 {
    color: #fff;
    font-weight: 600 !important;
}
.test-subhead {
    color: #fff;}

.testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #eee;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;    
    -ms-transition: all .3s ease-in-out;    
    -moz-transition: all .3s ease-in-out;    
    -o-transition: all .3s ease-in-out;    
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
    cursor: pointer;
}

.testim .arrow:hover {
    color: #2b288d;
}
    

.testim .arrow.left {
    left: 10px;
}

.testim .arrow.right {
    right: 10px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
    height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;    
    -ms-transition: all .5s ease-in-out;    
    -moz-transition: all .5s ease-in-out;    
    -o-transition: all .5s ease-in-out;    
    transition: all .5s ease-in-out;
    position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: #2b288d;
    border-color: #2b288d;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;   
    -moz-animation: testim-scale .5s ease-in-out forwards;   
    -ms-animation: testim-scale .5s ease-in-out forwards;   
    -o-animation: testim-scale .5s ease-in-out forwards;   
    animation: testim-scale .5s ease-in-out forwards;   
}
    
.testim .cont {
    position: relative;
    overflow: hidden;
}

.testim .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont > div.inactive {
    opacity: 1;
}
    

.testim .cont > div.active {
    position: relative;
    opacity: 1;
}
    

.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div .h4 {
    color: #fff;
    font-size: 1.2em;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 1.15em;
    color: #eee;
    width: 80%;
    margin: auto;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;            
    -moz-animation: testim-show .5s ease-in-out forwards;            
    -ms-animation: testim-show .5s ease-in-out forwards;            
    -o-animation: testim-show .5s ease-in-out forwards;            
    animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active .h4 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;    
    -moz-animation: testim-content-in .4s ease-in-out forwards;    
    -ms-animation: testim-content-in .4s ease-in-out forwards;    
    -o-animation: testim-content-in .4s ease-in-out forwards;    
    animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;    
    -moz-animation: testim-content-in .5s ease-in-out forwards;    
    -ms-animation: testim-content-in .5s ease-in-out forwards;    
    -o-animation: testim-content-in .5s ease-in-out forwards;    
    animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;            
    -moz-animation: testim-hide .5s ease-in-out forwards;            
    -ms-animation: testim-hide .5s ease-in-out forwards;            
    -o-animation: testim-hide .5s ease-in-out forwards;            
    animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive .h4 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;        
    -moz-animation: testim-content-out .4s ease-in-out forwards;        
    -ms-animation: testim-content-out .4s ease-in-out forwards;        
    -o-animation: testim-content-out .4s ease-in-out forwards;        
    animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;    
    -moz-animation: testim-content-out .5s ease-in-out forwards;    
    -ms-animation: testim-content-out .5s ease-in-out forwards;    
    -o-animation: testim-content-out .5s ease-in-out forwards;    
    animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -moz-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -ms-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -o-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);        
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -moz-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -ms-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);       
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
  body {
    font-size: 14px;
  }
}

@media all and (max-width: 500px) {
  .testim .arrow {
    font-size: 1.5em;
  }
  
  .testim .cont div p {
    line-height: 25px;
  }

}


ul#testim-dots {
    display: none;
}
span.fa.fa-star {
    color: yellow;
}
form {
  /*height: 100%;*/
  /*background: #fff;*/
  /*padding: 28px 24px 62px 24px;*/
  text-align: center;
  /*-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);*/
}
.contact {
    background-image: url('../../images/reviewpro/formbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding: 57px 56px 57px 128px;
}

label.btn {
    float: right;
   
}
label {
  display: block;
  position: relative;
  margin: 40px 0px;
}
label.message {
    width: 100%;
}
.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120,120,120);
  transition: ease .3s;
}
.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 93%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #8BC34A;
  transition: ease .6s;
}
.btn button {
    background: linear-gradient(0deg, rgba(228,66,91,1) 0%, rgba(240,106,92,1) 60%);
    color: #fff;
    border-radius: 28px;
}

.input:focus + .line-box .line {
  width: 100%;
}

.label-active {
  top: -3em;
}

button {
  display: inline-block;
  padding: 12px 24px;
  background: rgb(220,220,220);
  font-weight: bold;
  color: rgb(120,120,120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
}
.nav .list > li > a:hover {
    color: #ee645c;
}
button:hover {
  background: linear-gradient(0deg, rgba(20,0,70,1) 0%, rgba(102,96,126,1) 90%);
  color: #ffffff;
}
.get-in-touch {
    font-size: 52px;
    color: #fff;
    font-weight: 600;
        line-height: 1;
            margin: 0 auto;
    margin-bottom: 40px;
}
.cont-subhead {
    color: #fff;
}
.footer {
    background: #140044;
    height: auto;
    color: #fff;
padding-left: 10%;
    padding-right: 8%;
        padding-top: 4%;
}
span {
        padding-right:15px;

       
    }
    h4 {
        font-size: 15px;
        text-transform: uppercase;
    }
     
    ul {
        font-size: 13px;
        padding-left: 0px ;
        list-style: none;
        padding-top: 10px;

        li {
            padding-top: 15px;
        }
    }
    hr {
        border: 1px solid rgb(146, 146, 146);
        border-bottom: none;
    }
    .f-b {
        font-size: 12px;
        text-align: center;
    }
 .fa {
            font-size: 19px;
            color: #cccccc;   
        }
    


  /*.request ,.collect,.display{
    padding-left: 15%;
    padding-right: 15%;
}*/
 .feature {
    /*padding-bottom: 4%;*/
    padding-top: 4%;
    padding-left: 10%;
    padding-right: 8%;
    padding-bottom: 10%;
}
.video {
    padding: 50px;
}
h3.reviews-title {
    font-weight: 600;
    margin-top: 18%;
}
img.review-img {
    /*width: 100%;*/
    width: 500px;
}
img.icons {
    width: 23%;
   
}
.card img {
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 15px;
}
.card {
    box-shadow: 0 0 10px #ccc;
    border-radius: 15px !important;
}
.card {
    padding: 25px;
    min-height:305px;
    /*max-height: 228px;*/
}
.card-title {
   font-weight: 600;
    font-size: 19px;
}
p.card-desc {
    font-size: 14px;
}
.feature-box {
    margin-top: 0px;
}
.second_boxes_section{
    margin-top: 30px;
}
p.feature-description {
    margin-bottom: -3rem !important;
}
.down h4 {
    text-transform: capitalize;
    color: #fff;
}
.down p {
    font-size: 13px;
}

.row.collect.mobile {
    display: none;
}
p.reviews-desc {
    text-align: justify;
}

/********media query*******/
@media(min-width: 991px){
  ul.navbar-nav {
    position: absolute;
        left:38%;
}
}
@media(max-width: 767px) and (min-width: 320px){

.nav .nav-heading {
    float: left;
    position: relative;
    left: 0;
    width: 100% !important;
    overflow: hidden;
}

.contact {
    padding: 56px 12px 57px 26px;
}
.video {
    padding: 30px;
}

.row.collect.mobile {
    display: block;
}
.row.collect.desktop {
    display: none;
}

img.review-img {
    width: 100%;
    margin-bottom: 20px;
}
label.message {
    width: auto;
}
.feature-box {
    margin-top: 30px;
    margin-bottom: 30px;
}
.card {
    margin-bottom: 30px;
}
.left {
    padding-bottom: 30px;
}
h2.banner-title {
    font-size: 25px;
}
p.banner-subhead {
    font-size: 12px;
}
.row.container.feature-box {
    margin: 0 auto;
}

.card {
    padding: 25px;
    /*max-height: 290px;*/
}
img.icons {
    width: 35%;
}
.h2 {
    font-size: 24px !important;
}

h3.reviews-title {
    font-weight: 600;
    font-size: 26px;
}

img.logo {
    width: 200px;
    margin-left: 0px;
}
a.sign.up {
    margin-left: 0;
    margin-top: 7px;
}
ul.navbar-nav {
    margin-left: 15px;
}
.reviews {
    margin-bottom: 15px;
}
.get-in-touch {
    font-size: 34px;}

.test-subhead {
  
    font-size: 14px;
}
.testim .cont div p {
    line-height: 22px;
    font-size: 14px;
}
span {
    padding-right: 0px;
}
}
button.navbar-toggler {
    background: #453a67;
}
.navbar-toggler-icon {
 
    width: 14px !important;
    height: 20px !important; }

@media(max-width: 1023px) and (min-width: 768px){
.get-in-touch {
    font-size: 38px;}
    .contact {
    padding: 57px 44px 57px 60px;
}
label.message {
    width: 95%;
}
.banner {
    padding-left: 6%;
}
.card {
    padding: 25px;
    /*max-height: 252px;*/
}
.banner {
    padding-bottom: 34px;
}
img.logo {
    width: 156px;
    margin-left: -6px;
    margin-top: 14px;
}
.footer {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 15px;

}
h2.banner-title {
    font-size: 22px;
}
h3.reviews-title {
    font-weight: 600;
    font-size: 25px;
}
.card-title {
    font-weight: 600;
    font-size: 10px;
}
p.card-desc {
    font-size: 12px;
}
img.icons {
    width: 41%;
}
.reviews {
    padding-bottom: 30px;
}
span {
    padding-right: 0;
}
ul.navbar-nav li a {
    margin-left: 0px;
    font-size: 14px;
}

}

@media(min-width: 1024px) and (max-width: 1280px){
.get-in-touch {
    font-size: 38px;}
    .contact {
    padding: 57px 44px 57px 60px;
}
label.message {
    width: 100%;
}
.card {
    padding: 25px;
    max-height: 252px;
}
.banner {
    padding-bottom: 34px;
}
img.logo {
    width: 223px;
    margin-left: 7px;
}
h2.banner-title {
    font-size: 27px;
}
h3.reviews-title {
    font-weight: 600;
    font-size: 25px;
}
span {
    padding-right: 0;
}
/*label {
    width: 100%;
}*/

}

@media(min-width: 1280px){
    li.nav-item a.nav-link.login {
    margin-left: 166px !important;
}
}
.row.sub-footer {
    background: #ccc;
    color: #000;
    width: 100%;
    margin: 0 !important;
}

.sub-footer p {
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

a:hover {
    color: #f0695c !important;
    text-decoration: none !important;
}
span {
    padding-right: 0;
}
header {
  position: relative;
  background-color: black;
  /*height: 75vh;*/
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}
/*terms page*/
.terms, .privacy {
    padding-left:10%;
    padding-right: 10%;
    padding-top: 20px;
}
.terms ul li {
    font-size: 15px;
    margin-bottom: 15px;
}
/*contact page*/
.call i{
    font-size: 35px;
    color: #140044;
    margin-right: 18px;
    vertical-align: middle;
}
.address i{
    font-size: 35px;
    color: #140044;
    margin-right: 18px;
    vertical-align: middle;
}
 .email i {
    font-size: 23px;
    color: #140044;
    margin-right: 8px;
    vertical-align: middle;
}
.call ,.email, .address{
    color: #fff;
    font-size: 20px;
}
.address {
    margin-top: 14px;
}

/*privacy page*/

.privacy ul li {
    list-style: disc;
    margin-bottom: 7px;
    font-size: 16px;
}



ul li a {
    color: #fff;
    text-decoration: none;
}
.heading h2 {
    margin: 0 auto;
    text-align: center;
}
.heading {
    background: #140044;
    padding: 20px;
    color: #fff;
}
a.nav-link.login:hover {
    color: #140044 !important;
}

/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
   background-color: #140044;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: none;
    margin: 0 9px 0 10px;
}
#cookieConsent a.cookieConsentOK1 {
   background-color: #f06a5c;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: none;
    margin: 0 9px 0 10px;
}
a.cookieConsentOK1:hover {
    color: #140044 !important;
}
label {
    display: inline-block !important;
    margin-bottom: .5rem !important;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 1;
    transition-property: opacity,transform;
}
.social-media span {
    padding: 10px;
}
/*************mycssni***************/
.membership-pricing-table {
    /*width: 920px;*/
    width: 100%;
    padding-top: 50px;
}
.membership-pricing-table table .icon-no,.membership-pricing-table table .icon-yes {
    font-size: 20px;
}
.membership-pricing-table table .icon-no {
    color: #a93717;
}
.membership-pricing-table table .icon-yes {
    color: #209e61;
}
.membership-pricing-table table .plan-header {
    text-align: center;
    font-size: 48px;
    border: 1px solid #e2e2e2;
    padding: 25px 0;
}
.membership-pricing-table table .plan-header-free {
    background-color: #eee;
    color: #555;
}
.membership-pricing-table table .plan-header-blue {
    color: #fff;
    background-color: #170055;
    border-color: #170055;
}
.membership-pricing-table table .plan-header-standard {
    color: #fff;
    background: linear-gradient(250deg, rgba(228,66,91,1) 35%, rgba(240,106,92,1) 60%);
    /*background-color: #EB575C;*/
    border-color: #EB575C;
}
.membership-pricing-table table td {
    text-align: center;
    width: 15%;
    padding: 7px 10px;
    background-color: #fafafa;
    font-size: 14px;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
}
.membership-pricing-table table,.membership-pricing-table table td {
    border: 1px solid #ebebeb;
}
.membership-pricing-table table tr td:first-child {
    background-color: transparent;
    text-align: left;
    width: 24%;
    padding: 0px 20px 0px 20px;
}
.membership-pricing-table table tr td:nth-child(5) {
    background-color: #FFF;
}
.membership-pricing-table table tr:first-child td,.membership-pricing-table table tr:nth-child(2) td {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.membership-pricing-table table tr:first-child th:first-child {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: #e2e2e2;
}
.membership-pricing-table table tr:first-child th .pricing-plan-name {
    font-size: 20px;
    padding-bottom: 15px;
}
.membership-pricing-table table tr:first-child th .pricing-plan-price {
    line-height: 35px;
}
.membership-pricing-table table tr:first-child th .pricing-plan-price>sup {
    font-size: 45%;
    top: 0px;
}
.membership-pricing-table table tr:first-child th .pricing-plan-price>span {
    font-size: 30%;
    padding-left: 4px;
}
.membership-pricing-table table tr:first-child th .pricing-plan-period {
    margin-top: 0px;
    font-size: 40%;
}
.membership-pricing-table table .header-plan-inner {
    position: relative;
}
.membership-pricing-table table .recommended-plan-ribbon {
    box-sizing: content-box;
    background-color: #dc3b5d;
    color: #FFF;
    position: absolute;
    padding: 3px 6px;
    font-size: 11px!important;
    font-weight: 500;
    left: -6px;
    top: -22px;
    z-index: 99;
    width: 100%;
    -webkit-box-shadow: 0 -1px #c2284c inset;
    box-shadow: 0 -1px #c2284c inset;
    text-shadow: 0 -1px #c2284c;
}
.membership-pricing-table table .recommended-plan-ribbon:before {
    border: solid;
    border-color: #c2284c transparent;
    border-width: 6px 0 0 6px;
    bottom: -5px;
    content: "";
    left: 0;
    position: absolute;
    z-index: 90;
}
.membership-pricing-table table .recommended-plan-ribbon:after {
    border: solid;
    border-color: #c2284c transparent;
    border-width: 6px 6px 0 0;
    bottom: -5px;
    content: "";
    right: 0;
    position: absolute;
    z-index: 90;
}
.membership-pricing-table table .plan-head {
    box-sizing: content-box;
    background-color: #ff9c00;
    border: 1px solid #cf7300;
    position: absolute;
    top: -33px;
    left: -1px;
    height: 30px;
    width: 100%;
    border-bottom: none;
}
.fa-check-square, .fa-square-o{
    color: #170055;
}
.main_head_text {
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: #fff;
}
.sub_head_text {
    text-align: center;
    width: 100%;
    font-weight: 600;
    color: #EB575C;
}
.page_first_header_section {
    background: #170055;
    padding-top: 50px;
    padding-bottom: 50px;
}
.pay-methods {
    clear: both;
    border: 1px solid #eaeaea;
    border-left: 0;
    border-right: 0;
    padding: 1em 0;
    width: 100%;
    margin-top: 73px;
    margin-bottom: 45px;
}
.pay-methods img {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 5px;
    padding: 0 5px;
    vertical-align: middle;
}
.pay-methods .small {
    padding: 2em 20% 1em 20%;
}
.small.grey {
    color: #adadad;
    font-weight: normal;
    font-size: 7.5pt;
}
.frequently-asked-questions h2 {
    text-align: center;
    font-size: 30px;
    padding: 10px 20px;
    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #1c3b51;
}
.faqs {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.faqs .faq {
    width: 50%;
    float: left;
    margin-right: 30px;
}
.faq h4 {
    font-size: 18px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0;
    color: #1c3b51;
}
.faq p {
    font-size: 14px;
    margin-left: 20px;
}
.frequently-asked-questions {
    padding-top: 20px;
    width: 100%;
}
.btn_icon_section {
    padding: 10px 10px 10px 10px;
}
.fa-pencil-square-o, .fa-check, .fa-sticky-note{
    color: #1A0061 !important;
}
.btn_icon_section .fa-pencil-square-o:before{
    color: #1A0061 !important;
}
.fa-trash{
    color:#ff0000;
}
#collapsibleNavbar .navbar-nav .nav-item{
    padding: 0 15px 0 15px;
}
.navbar.sticky-top{
    background: #fff;
}
.pricing_header_section {
    width: 100%;
    text-align: center;
}
.pricing_main_head_text{
    font-weight: 600;
}
.main_heading {
    font-size: 18px !important;
    font-weight: 600;
    color: #EB575C;
}
.main_heading_section td {
    background-color: #F5F5F5 !important;
    font-size: 18px !important;
    font-weight: 600;
}
.membership-pricing-table table tbody tr td {
    height: 55px;
}
.fa-check{
    color: #EC5B5B;
}
.fa-times{
    color: #1A0061;
}
.pricing-plan-name-first-head {
    text-align: center;
    font-size: 27px;
    font-weight: 700;
}
.pricing-plan-first-box-section {
    background-color: #E7E7E8;
}
.pricing-plan-recommended-head {
    font-size: 12px;
    padding-top: 10px;
}
button[aria-expanded=true] {
    width: 100%;
    border-radius: 5px;
    text-align: left;
    background-color: #EA585B;
    border-color: #EA585B;
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}
button[aria-expanded=true]:focus {
    box-shadow: none;
}
button[aria-expanded=true]:hover {
    background: #EA585B;
    border-color: #EA585B;
    color: #fff;
}
button[aria-expanded=true]:after {
    content: "-";
    float: right;
    border: 1px solid #fff;
    padding: 0px 10px 2px 10px;
    border-radius: 35px;
    font-size: 25px;
    line-height: 29px;
}
button[aria-expanded=false]{
    width: 100%;
    background-color: transparent !important;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    padding: 12px;
}
button[aria-expanded=false]:after {
    content: "+";
    float: right;
    border: 1px solid #000;
    padding: 0px 8px 0px 8px;
    border-radius: 43px;
    border-radius: 5px;
    text-align: left;
    border: 1px solid #ccc;
    font-size: 25px;
    line-height: 30px;
}
button[aria-expanded=false]:hover{
    background: none !important; 
    color: #000;
}
button[aria-expanded=false]:focus {
    box-shadow: none;
    border-color: inherit;
}
.faq_content_section .card {
    border-radius: 0px !important;
    box-shadow: none;
    padding: 10px;
}
.faq_content_section .card p {
    margin-left: 5px;
}
.enquery_field {
    padding: 10px;
    width: 100%;
    font-size: 13px;
    border-radius: 5px;
}
.label-we_can_help_you {
    text-align: left;
    font-size: .8em;
    text-transform: uppercase;
    padding-left: 11px;
    color: rgb(120,120,120);
    font-family: sans-serif;
}
.we_can_help_you {
    width: 100%;
    text-align: left;
}
.table-responsive{
    margin-top: -25%;
}
.footer-btn-section li {
    display: inline-block;
}
.footer-btn-section a {
    color: #000;
}
.video-section {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 50px;
}
.video_right_head_section {
    font-size: 44px;
    font-weight: bold;
}
.video_right_text {
    font-size: 20px;
    line-height: 30px;
}
.invite_customer_details li {
    padding: 10px 20px 10px 20px;
    font-size: 16px;
}
.invite_customer_details_section{
    background-color: #fff;
}
.top_banner_section{
    /*background-image: url('../../images/reviewpro/top_banner_img.jpg');*/
    background-image: url('../../images/reviewpro/latestimg/img4.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
.top_banner_head {
    font-size: 47px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    padding-top: 80px;
    line-height: 55px;
}
.top_banner_sub_text {
    font-size: 26px;
    color: #fff;
    margin-bottom: 30px;
}
.btn_get_started{
    font-size: 20px;
}
.free_reputation_btn {
    background: linear-gradient(0deg, rgba(228,66,91,1) 0%, rgba(240,106,92,1) 60%);
    color: #fff !important;
    border-radius: 30px;
    margin-top: -3px;
    font-size: 17px;
    padding: 15px 25px 15px 25px;
    font-weight: 600;
    margin-right: 10px;
}
.free_reputation_btn:hover {
    color:#fff !important;
}
.learn_more_btn {
    background: linear-gradient(0deg, rgba(228,66,91,1) 0%, rgba(240,106,92,1) 60%);
    color: #fff !important;
    border-radius: 30px;
    margin-top: 12px;
    line-height: 70px !important;
    text-align: center;
    border: none;
    padding: 15px 50px 15px 50px;
    font-weight: 600;
}
.learn_more_btn:hover {
    color: #fff !important;
}
/*.pricing_table_section{
    margin-top: 0px !important;
}*/
.table-responsive{
    margin-top: 0px !important;
}
.arrow{
    width: 25px !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
.arrow::before {
   box-shadow: none !important;
}

#left-arrow::after {
    transform: rotate(135deg);
}
#left-arrow::before {
    transform: rotate(34deg);
}
.get-more {
    padding-top: 80px;
}
.get-more-reviews{
    font-size: 14px;
}
.business_location_list, #internal_bs, #live_bs, #invite_customer_business_location{
    appearance: none !important;
}
.dashbord_header {
    padding: 30px 0px;
}
.result_shows_section{
    text-align: left;
}
.filter-section {
    text-align: center;
}
.add_invite_customer_btn:hover{
    color: #fff;
}
[data-aos="fade-right"] {
    padding-left: 100px;
}
[data-aos="fade-left"] {
    padding-right: 100px;
}
.contact .label-txt {
    color: #fff;
}
.label-we_can_help_you{
    color: #fff;
}
.we_can_help_you{
    padding-left: 45px;
    padding-right: 60px;
}
.message .line-box{
    width: 100%;
}
.message{
    padding-left: 45px;
    padding-right: 50px;
}
.alert-info{
    margin-top: 35px;
}
label input{
    color: #fff;
}
/*.custom-radio .custom-control-label::before {
    margin: 5px 0px 0px 13px;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after{
    margin-top: -2px;
    margin-left: 14px;
}*/
/******* 8aug20 css *************/
.alert-info {
    margin-top: 35px;
}
.get-reviews-part{
    width: 70% !important;
    background-color: #fff !important;
}
.send-review-2 .fa{
    font-size: 15px;
}
.send-review-2 p {
    font-weight: 400 !important;
}
.get-reviews-part .icon2{
    left: 111%;
}
.get-reviews-part .icon2 .arrow{
    background-color: #2c1465 !important;
}
.term_condition_text {
    color: #1a0061;
}
.step_review{
    display: inline-flex;
}
.step_review_li {
    padding: 15px;
}
.step_review_li .custom-control-label::before {
    top: .50rem;
    left: -0.5rem;
}
.step_review_li .custom-control-label::after {
    top: .50rem;
    left: -0.5rem;
}
.btn_icon_section .fa-pencil-square-o::before{
    color: #1A0061 !important;
}
.btn_icon_section {
    padding: 10px 10px 10px 10px;
}
.address_text, .email_text, .phone_number_text {
    margin-bottom: 0px;
}
.social-media{
    margin-bottom: 10px;
}
.top_banner_head {
    font-size: 29px;
    line-height: 45px;
}
.top_banner_sub_text {
    font-size: 21px;
    margin-bottom: 40px;
}
.left-show p a:hover{
    color: #fff !important;
}
.sendreviewinvitebtn {
    margin-bottom: 30px;
}
.add_staff_btn{
    margin-top: 0px !important;
}
.header_alert_msg{
    margin-top: 0px;
}
#start_date, #end_date{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}
.reset_btn {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
#searchreview {
    padding: 5px 10px;
}
.add_invite_customer_btn{
    padding: 8px 10px !important;
}
.das-link a{
    color: #fff;
}
.das-link a:hover{
    color: #fff !important;
}
.left_content_section{
    margin-top: 8px;
    margin-bottom: 8px;
}
.table-responsive {
    display: table;
}
.boxes_icon_mobile{
    display: none;
}
/************17aug20**************/
@media (max-width:767px){
    /*.we_can_help_you {
        padding-left: 12px;
        padding-right: 12px;
    }*/
    /*.we_can_help_you {
        padding-left: 30px;
        padding-right: 35px;
    }*/
    .contact label{
        display: block !important;
    }
    .we_can_help_you {
        padding-left: 0px;
        padding-right: 0px;
    }
    .line-box{
        width: 100%;
    }
    label.message {
        padding-left: 0px;
        padding-right: 0px;
    }
    .faqs{
        margin-left: 0px;
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .faqs .faq {
        width: 100%;
        margin-bottom: 20px;
    }
    .frequently-asked-questions{
        padding: 10px;
    }
    .faqs .faq > button.collapsed:after {
        content: "+";
    }
    button[aria-expanded=false]:after{
        content: "+";
    }
    .right-bar {
        width: 100% !important;
    }
    .right-bar-2{
        position: inherit !important;;
        width: 100% !important;
    }
    .left-bar{
        width: 100% !important;
    }
    .part-of-btn{
        width: 100% !important;
        margin-bottom: 10px;
    }
    .left-part-design {
        padding: 0 !important;
    }
    .left_chart_section.graph-img, .right_chart_section.graph-img {
        padding: 0px 0px 0px 10px !important;
    }
    .step_review_li {
        margin-right: 10px;
        width: 100%;
    }   
    .step_review{
        width: 100%;
    }
    .black_bk_col{
        font-size: 15px;
    }
    .blue_btn_box {
        width: 100%;
        margin-bottom: 10px;
    }
    .m-0{
        width: 100%;
    }
    .review_txt {
        max-width: inherit;
    }
    .dropdown_mobile{
        display: block !important;
    }
    .dropdown_desktop{
        display: none;
    }
    #dropdownMenuButton{
        text-align: right;
    }
    .dropdown-menu.show {
        top: 0px !important;
        width: 97%;
    }
    #dropdownMenuButton[aria-expanded="true"]{
        background-color: #ec5d5b;
        border-color: #ec5d5b !important;
    }
    #dropdownMenuButton[aria-expanded="true"]:focus{
        border:none;
    }
    .dropdown-menu.show{
        background-color: #ec5d5b;
    }
    .dropdown-menu.show li {
        color: #fff;
    }
    .dropdown-menu.show a.active {
        background: linear-gradient(0deg,#ff897c,#e0595f 60%);
    }
    .dropdown-menu.show a:hover {
        background: linear-gradient(0deg,#ff897c,#e0595f 60%);
    }
    #dropdownMenuButton{
        color: #fff !important;
    }
    #dropdownMenuButton .fa-bars{
        color: #fff !important;
    }
    .video_sec{
        border: 2px solid rgba(240,106,92,1);
    }
    .pricing-plan-name{
        font-size: 14px !important;
    }
    .membership-pricing-table table .plan-header {
        font-size: 33px !important;
    }
    .pricing-plan-recommended-head{
        font-size: 10px;
    }
    .black_bk_col{
        text-align: center;
        margin-top: 20px;
    }
    .custom-control.custom-checkbox label{
        margin: 0px 0px;
    }
    .custom-control-label::before {
        left: -0rem;
    }
    .order_summary {
        margin-left: 15px;
        margin-bottom: 15px;
    }
    form.needs-validation {
        padding: 10px;
    }
    form.needs-validation .input_label{
        margin: 0px;
    }
    .custom-control-label::after{
        left: 0rem;
    }
    .feature-box .card {
        height: auto;
        padding: 15px;
    }
    /*.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
        background-image: url(data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/></svg>) !important;
    }*/
    .search-reviews {
        padding: 23px 25px 25px 30px !important;
    }
    .fa-icon-2.fa-search{
        padding: 0px;
    }
    .get-reviews-part{
        width: 100% !important;
    }
    .left_content_section {
        margin-bottom: 20px;
        font-size: 10px;
    }
    .add_invite_customer_btn {
        font-size: 13px;
    }
    a.view {
        padding: 8px 5px !important;
    }
    .fa-paper-plane {
        font-size: 11px;
    }
    .table-part table tr td {
        font-size: 13px !important;
    }
    .table-list-part table tr td{
        font-size: 13px !important;
    }
    .table-responsive {
        display: block;
    }
    .invite_customer_details_section table tr td{
        font-size: 12px;
    }
    .fa-arrow-down{
        position: absolute;
        top: 106px;
        color: #2c1465;
        -webkit-animation: arrow 700ms linear infinite;
        animation: arrow 700ms linear infinite;
    }
    .boxes_icon_desktop{
        display: none;
    }
    .boxes_icon_mobile{
        display: block;
    }
}
@media screen and (min-width: 320px) and (max-width: 575px){
    .get-reviews-part .icon2 {
        left: 61%;
        top: -20%;
        position: relative;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .we_can_help_you {
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact label{
        display: block !important;
    }
    .line-box{
        width: 100%;
    }
    label.message {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .feature-box .card {
        max-height: 300px;
        padding: 15px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1280px){
    .we_can_help_you {
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact label{
        display: block !important;
    }
    .line-box{
        width: 100%;
    }
    label.message {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
}
@media (min-width: 1281px){
    .we_can_help_you {
        padding-left: 40px;
        padding-right: 60px;
    }
    .message {
        padding-left: 40px;
        padding-right: 60px;
    }
}
@media (max-width:991px){
    /*.table-part table thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .table-part tr { border: 1px solid #ccc; }
    .table-part td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }
    .table-part td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    .livereviews td:nth-of-type(1):before { content: "Date"; }

    .livereviews td:nth-of-type(2):before { content: "Source"; }

    .livereviews td:nth-of-type(3):before { content: "Rating"; }

    .livereviews td:nth-of-type(4):before { content: "Review"; }

    .livereviews td:nth-of-type(5):before { content: "Reviewer Name"; }*/

    /*.livereviews td:nth-of-type(6):before { content: "Rank"; }

    .livereviews td:nth-of-type(7):before { content: "Last Login"; }*/
    
}
.login_signup_text{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.table-part table tr td time {
    font-size: 14px;
}
.table-part table tr td {
    font-size: 14px;
}
.table-part table tr td .dv-star-rating  {
    width: 65px;
}
.table-part table tr td .social_reviews_name_text_sec{
    width: 100px;
}
.table-part table tr td .dv-star-rating label i{
    font-size: 14px;
}
.forgot_pass_text{
    margin-left: 0px !important;
}
button.navbar-toggler {
    background: #fff;
}
.signup_link {
    margin-bottom: 0px;
}
.dropdown_mobile{
    display: none;
}
.aggre_term_condition_text, .signing_link_text{
    padding-left: 35px;
    padding-right: 35px;
}
.sign_up_btn_blue {
    background: #140044;
    color: #fff !important;
    border-radius: 30px;
    padding: 15px 35px 15px 35px;
    font-weight: 600;
}
.sign_up_btn_red {
    background: linear-gradient(0deg, rgba(228,66,91,1) 0%, rgba(240,106,92,1) 60%);
    color: #fff !important;
    border-radius: 30px;
    padding: 15px 35px 15px 35px;
    font-weight: 600;
}
.sign_up_btn_blue:hover, .sign_up_btn_red:hover{
    color: #fff !important;
}
.powered_by_text {
    text-align: center;
    color: #000;
    font-size: 11px;
    padding: 0px !important;
}
.sidebar_logo_sec {
    text-align: center;
    padding: 0px !important;
}
.sidebar_logo {
    width: 217px;
}