body {
    width: 100% !important;
    overflow-x: hidden !important;
} 
/*img {width: 100%;max-width: 100%;}*/
.dashboard-part{padding:0;  background: #f7f7f7;display: flex; }  
.right-bar { 
    width: 20%;
    float: left;
}
ul.das-link {
    padding: 0;
}
ul.das-link li {
    list-style: none;
    width: 100%;  
    padding: 10px 20px;
    margin-bottom: 10px;
}
ul.das-link li:hover {  
    background: linear-gradient(0deg,#ff897c,#e0595f 60%); 
}
ul.das-link li a { 
    color: #fff;
    text-decoration: none;
}
ul.das-link li a:hover {
    color: #fff !important;
}
.right-bar p a {
    text-decoration: none;
    color: #fff;
}
.right-bar p {
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 0;
}
.right-bar-2 {
    background: linear-gradient(0deg,#e4425b,#f06a5c 60%);
    position: fixed;
    top: 0;
    bottom: -120px;
    z-index: 1;
    width: 20%;
}
.left-bar { 
    width: 80%;
    padding: 0;
    float: right;
    /*background-color: #fff;*/
}
.bg-color {
    background: #140044;
    padding: 22px;
}
.button-part {
    text-align: right;
    padding: 20px 20px;
}
.part-of-btn {
    background: none;
    border: solid 2px #ec5d5b;
    padding: 5px 20px;
    border-radius: 5px;
    color: #140044;
    margin-right: 15px;
}
.part-of-btn:hover {
    background: linear-gradient(0deg,#e4425b,#f06a5c 60%); 
  
}
.left-part-design {
    padding: 30px 50px;
}
.shot-part h2 {
    font-size: 30px;
    font-weight: 400;
}
.shot-part p {
    font-size: 18px;
    margin: 0 0 25px 0;
}
.average {
    background: linear-gradient(0deg,#e4425b,#f06a5c 60%);
    padding: 5%;
    text-align: center;
    border-radius: 9px;
}
.average p {
    color: #fff;
    font-size: 20px;
    padding: 15px 0 0px 0;
        margin: 0;
}
.average h2 {
    color: #fff;
    font-size: 70px;
    margin: 0;
}
.average ul {
    margin: 0;
    padding: 0;
}
.average ul li {
    display: inline-block;
    list-style: none;
    color: #ffe200;
    padding: 0 0 15px 0;
}
.average.part-aver {
    background: #140044;
    margin-top: 20px;
}
.big-part p {
    text-align: right;
    padding: 6px 0 0 0;
}
.big-part p a {
   background: linear-gradient(0deg,#140044,#2c1465 60%);
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.big-part p a:hover {
   background: linear-gradient(0deg,#3f2679,#140044 60%); 
}
.big-part img {
    margin-top: 8%;
    width: 100%;
}
.graph-img img{
    width: 100%;
}
.left_chart_section.graph-img {
    padding: 0 0 0 80px;
}
.right_chart_section.graph-img {
    padding: 0 80px 0 0;
}
.search-part {
    width: 88%;
    background: #ecece9;
    margin: 0 auto;
    margin-top: 18px;
    padding: 10px;
}
.fa-icon {
    text-align: center;
    background: linear-gradient(0deg,#e4425b,#f06a5c 60%);
}
.fa-icon i {
    padding: 45px 0 35px 0;
}
.fa-icon i {
    padding: 45px 0 35px 0;
    font-size: 30px;
    color: #fff;
}
.search-bar p {
    font-size: 18px;
    padding: 20px 0 0 0;
}
.location {
    padding: 0 35px !important;
}
input.ser-part {
    width: 100%;
    border-radius: 5px;
    padding: 3px 10px;
    border: solid 2px #bdbdbd;
}
.search-reviews {
    background: #fff;
    padding: 23px 0 9px 25px;
}
.fa-icon-2 {
    text-align: center;
    padding: 42px 0 0 0;
}
.location {
    background: #fff;
    padding: 0 25px 25px 30px !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
    border-bottom: 1px solid #dddddd; 
    padding: 12px;
}
 
.table-part {
    padding: 0 6% 4% 6%;
    margin-top: 2%;
}
.table-part td img {
    width: 20%;
    padding: 0 0 1px 0;
}
.table-part td i.fa.fa-star {
    color: #f1d512;
}
a.view {
    border: solid 2px #140044;
    padding: 8px 12px;
    border-radius: 4px;
    color: #140044;
    text-decoration: none;
}
a.view:hover {
    background: #140044;
    color: #fff !important; 
    text-decoration: none;
}
.table-part .button-part {
    text-align: left;
}
.right {
    position: absolute;
    right: 6%;
}
.button-part select#cars {
    font-size: 14px;
    padding: 8px 10px;
} 
.left-show p a {
    color: #ec5d5b;
    border: solid 2px;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
}
.left-show p a:hover {
    color: #fff; 
    background: #ec5d5b;
}
.bot-area {
    margin-top: 25px;
}
.bot-area .left-show {
    text-align: right;
}

/*Start....page.....monitor-reviews*/
.search-button .search-part {width: 100%;}
.get-more-reviews {
    background: #140044;
    color: #fff;
    border: none;
    padding: 14px 10px;
    border-radius: 5px;
    margin-top: 65px;
}

/*Start....page.....Get-Reviews*/

.get-reviews-part {
    width: 90%;
    margin: 0 auto;
}
.dashboard-part.das-reviews {
    background: #fff;
}
.get-reviews-part h2 {
    font-size: 25px;
    font-weight: 400;
    color: #717171;
    padding: 4% 0 2% 0;
}
.take h3 {
    font-size: 20px;
    font-weight: 400;
    color: #717171;
    padding: 0 0 3% 0;
    border-bottom: solid 1px #8a8a8ac7;
}
.take p {
    font-size: 14px;
    color: #585858;
        margin: 0 0 8px 0;
}
.take h4 {
    font-size: 18px;
    font-weight: 400;
    color: #717171;
}
.take #cars {
    width: 100%;
        font-size: 14px;
}
.sam-paddi {
    padding: 0 5px !important;
}
.creatr-new-templeat {
    background: none;
    border: solid 2px #ec5d5b;
    padding: 5px 6px;
    border-radius: 5px;
        font-size: 14px;
    color: #140044;
}
.creatr-new-templeat:hover {
    background: #ec5d5b;
    border: solid 2px #ec5d5b; 
    color: #fff;
}
.img-p {
    padding: 0 5px !important;
}
.select-review {
    padding: 12px 0;
}
.change-btn {
    background: linear-gradient(0deg,#140044,#2c1465 60%);
    color: #fff;
    padding: 3px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}
ul.das-link li.active {
    background: linear-gradient(0deg,#ff897c,#e0595f 60%);
}
button.change-btn-2 {
    background: linear-gradient(0deg,#e0595f,#f87f75 60%);
    color: #fff;
    padding: 11px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    width: 100%;
}


/*Start....01-07-2020*/
.location #cars {
    width: 100%;
    border: solid 2px #bdbdbd;
}

.location #cars:hover {  
    background: none;
}
.form-part {
    background: #f3f3f3;
    padding: 5% 5% 4% 5%;
    margin-top: 4%;
    border-radius: 6px;
    width: 65%;
}
input.form-des {
    width: 100%;
    padding: 10px 10px;
    margin: 0 0 15px 0;
    border-radius: 5px;
    border: solid 2px #140044;
}
.invite_customer_phone_input {
    width: 100%;
    padding: 0px;
    margin: 0 0 15px 0;
    border-radius: 5px;
    border: solid 2px #140044;
}
#invite_customer_phone_number{
    padding: 14px;
}
button.send-review {
    background: linear-gradient(0deg,#140044,#2c1465 60%);
    color: #fff;
    border: none;
    padding: 8px 30px;
    text-decoration: none;
    margin: 0 0 40px 0;
    border-radius: 5px;
}
.form-part h1 {
    font-size: 30px;
    font-weight: 500;
    color: #260f5d;
    margin: 0 0 1% 0;
}
.icon {
    position: absolute;
    top: 50%;
    left: 114%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
}
.icon2 {
    top: 10%;
}
.timeframe {
    width: 100%;
    float: left;
    line-height: normal;
    font-weight: normal;
    color: #f06a5c;
    font-size: 12px;
}
.arrow {
    position: absolute;
    top: 116px;
    width: 25%;
    height: 2px;
    background-color: #2c1465;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
}
  
.arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    right: -3px;
    background-color: #2c1465;
}
  
.arrow::after {
    top: -4px;
    transform: rotate(45deg);
}
  .arrow::before {
    top: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
button.send-review-2 h5 {
    font-size: 17px;
    font-weight: bold;
}
button.send-review-2 {
    background: linear-gradient(0deg,#140044,#2c1465 60%);
    color: #fff;
    border: none;
    padding: 10px;
    text-decoration: none; 
   height: 220px; 
    width: 100%;
}
button.send-review-2 i {
    position: absolute;
    right: 25px;
    margin: -5px 0 0 0;
}
button.send-review-2 i.fa.fa-pencil-square-o {
    padding: 0 25px;
}
.fa-paper-plane{
    color: #140044;
}
.view:hover .fa-paper-plane{
    color: #fff;
}
.dv-star-rating-non-editable label {
    font-size: 24px !important;
    margin-top: 0px;
}
.ser-part {
    width: 100%;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}
.form_section {
    margin-top: 50px;
}
.fa-pencil-square-o:before, .fa-eye:before {
    color: #fff;
}
.part-of-btn{
    margin-right: 7px;
    /*padding: 8px 3px !important;*/
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.add_invite_customer_btn:hover{
    color:#fff !important;
}

/*Start......17-08-2020*/
@media (max-width:375px){
a.navbar-brand img {
    width: 50%;
}
.free_reputation_btn {
    margin-top: 0;
    font-size: 10px !important;
    padding: 5px 9px !important;
}
}
@media (max-width:767px){
    .navbar { 
        padding: 0;
    }
    button:focus { 
        outline: 0 auto -webkit-focus-ring-color !important; 
        border: none;
    }
    button.navbar-toggler {
        position: absolute !important;
        right: 0 !important;
    }
    span.navbar-toggler-icon i {
        position: absolute;
        right: 16px;
        top: 3px;
    }
    button.navbar-toggler {
        position: absolute !important;
        right: 35px;
        top: 3px !important;
    }

    button[aria-expanded=true] {
       position: unset
    }
    span.navbar-toggler-icon i {
       padding: 8px 15px;
       font-size: 1.25rem !important;
       line-height: 1;
       background: #453a67 !important;
       border: 1px solid transparent;
       border-radius: .25rem;
    }
    button[aria-expanded=false]:after{
        display: none;
    }
    button[aria-expanded=true]:after{
        display: none;
    }
}
@media (max-width:575px){
    .top_banner_section { 
        background-position: 0 !important; 
    }
}
.free_reputation_btn { 
    margin-top: 0;
    font-size: 12px;
    padding: 9px 15px;
} 
@media (min-width:575px) and (max-width:767px) {  
    a.free_reputation_btn { 
        font-size: 10px;
        padding: 7px 10px;
    }
} 
@media (max-width:1024px){
    /*.card {
        max-height: unset;
    }*/
    /*.feature-box .card {
        max-height: 300px;
        padding: 15px;
    }*/
    .video_right_head_section {
        font-size: 25px;
        font-weight: bold;
    }
    .video_right_text {
        font-size: 16px;
        text-align: justify;
    }
}
.testim .arrow.right {
    right: 25px;
}
@media (max-width:991px){
    .contact {
        padding: 56px 5px 57px 5px;
    }
    .address {
        font-size: 14px;
    }
    .address i {
        font-size: 20px;
        margin-right: 6px;
     }

    .email {
        font-size: 14px;
       padding: 10px 0;
    }
    .call {
        font-size: 14px;
    }
    .email i {
        font-size: 15px; 
        margin-right: 6px;
    }
}
@media (max-width:320px){
    .message {
        padding-left: 25px;
        padding-right: 35px;
    }
    /*.we_can_help_you {
        padding-left: 22px;
        padding-right: 33px;
    }*/
    .we_can_help_you {
        padding-left: 26px;
        padding-right: 27px;
    }
}