* {
    font-family: 'Roboto', sans-serif;
}

.font_32 {
    font-size: 2rem;
}

.font_28 {
    font-size: 28px;
}

.font_22 {
    font-size: 22px;
}

.font_20 {
    font-size: 20px;
}

.font_16 {
    font-size: 1rem;
}

.font_14 {
    font-size: 14px;
}

.font_12 {
    font-size: 14px;
}

.heading_col {
    color: #404c54;
}

.txt_col {
    color: #54565d;
}

.txt_col_drk {
    color: #4f5153;
}

.color_white {
    color: #ffffff;
}

.blue_anchor_col {
    color: #2b65f0;
    text-decoration: none;
}

.black_bk_col {
    color: #1a0061;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
}

.yellow_bk_col {
    color: #fcb059;
}

.green_col {
    color: #19015c;
}

.red_bk_col {
    background-color: #ff6464;
}

.yello_bk_col {
    background-color: #f9d43a;
}

.green_bk_col {
    background-color: #56e271;
}

.white_bk_col {
    background-color: #ffffff;
}

.fontweight400 {
    font-weight: 400;
}

.fontweight500 {
    font-weight: 500;
}

.fontweight700 {
    font-weight: 700;
}

.fontweight_normal {
    font-weight: normal;
}

.width_435 {
    max-width: 435px;
}

.width_100 {
    width: 100%;
}

.height_100 {
    height: 100%;
}

.border_bottom {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.border_top {
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.input_label {
    font-size: 12px;
    color: #777777;
    font-weight: 700;
    width: 100%;
}

.box_select_dgin {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 10px;
}
.blue_btn_box {
    border: none;
       float: right;
    padding: 9px 35px;
    border-radius: 26px;
    background: linear-gradient(0deg, rgba(228,66,91,1) 0%, rgba(240,106,92,1) 60%);
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
}


/**navbar_css**/

.bg_blue {
    background: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 3px #ccc;
}

.nav_link_color {
    background: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #2b65f0 !important;
    line-height: 0px;
    text-align: center;
    display: inline-block;
}

.nav_li {
    padding: 0px 5px;
}

.center_sec {
    max-width: 1200px;
    margin-left: auto;
    padding: 30px 0px 98px 10px;
    margin-right: 0;
    overflow: hidden;
}

.center_row {
    display: flex;
    align-items: flex-end;
    padding: 40px 0px;
}

.ratting_star {
    padding: 0px;
}

.ratting_star li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    color: #f9886e;
}

.blue_btn {
    background-color: #2b65f0;
    border: 1px solid #2b65f0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
}

.starbuck_row {
    padding: 30px 0px 60px 0px;
    margin-bottom: 20px; 
}

.instruction {
    list-style-image: url('../images/Platform-for-Alex-xd_74.png');
    padding: 10px 0px 25px 25px;
    max-width: 435px;
}

.instruction li {
    padding: 10px 0px;
    font-size: 14px;
    color: #929da4;
    font-family: "Roboto";
    font-weight: 500;
}

.blue_small_btn {
    background: linear-gradient(0deg, rgba(228,66,91,1) 0%, rgba(240,106,92,1) 60%);
    border: 1px solid linear-gradient(0deg, rgba(228,66,91,1) 0%, rgba(240,106,92,1) 60%);
    display: inline-block;
    border-radius: 40px;
    padding: 10px 35px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.blue_small_btn:hover {
    text-decoration: none;
    color: #fff;
}

.youtube_icon {
    font-size: 20px;
}

.input_custom_style {
    font-size: 14px;
    color: #8f9caf;
    font-weight: 400;
}


/****find_your_business****/

.dashbord_container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
}

.browser_dot {
    padding: 0px;
    margin-bottom: 0px;
}

.browser_bar {
    background-color: #eeeeee;
    padding: 10px;
    text-align: center;
}

.browser_dot li {
    display: inline-block;
    margin: 0px 1px;
    vertical-align: middle;
}

.browser_dot .dot_cercle {
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.browser_dot .browser_arow {
    color: #ccc;
}

.browser_input {
    border: none;
    border-radius: 5px;
    width: calc( 100vw - 14vw);
}

.dashbord_header {
    padding: 10px 0px;
    background: #fff;
}

.dashbord_header .dashbord_logo {
    list-style: none;
    padding: 0px;
}

.dashbord_header .dashbord_logo li {
    display: inline-block;
}


/**side_bar**/

.side_bar {
    padding: 0px;
    list-style: none;
    padding-left: 40px;
    background: #fff;
}

.side_bar li {
    padding: 15px 0px;
}

.side_bar li .sidebar_link {
    font-size: 16px;
    color: #404c54;
}

.side_bar {
    padding: 0px;
    list-style: none;
    width: 300px;
    float: left;
    padding-left: 45px;
}


/**content_body**/

.content_body {
    width: calc(100% - 300px);
    float: right;
    background-color: #eee0;
    padding: 26px 15px 0 15px;
    /*border-radius: 20px 0px 0px 0px;
    box-shadow: 0px 0px 20px #eee;*/
    min-height: 75vh;
}

.box_column {
    width: 32%;
    float: left;
    border: 1px solid rgba(0, 0, 0, .125);
    /*border-radius: 20px;*/
    margin-right: 1.33%;
}

.box_icon {
    background-color: #eaf0f3;
    border-radius: 0;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2b65f0;
    font-size: 20px;
}

.box_txt {
    background-color: #fff;
    border-radius: 0;
    padding: 15px 10px;
}

.dashboard_body {
    background-color: #eeeeee8c;
    /*height: 100vh;*/
}
.dashboard_footer {
 background-color: #f1f5f8;
 padding: 20px;   
}
.container-fluid {
    padding: 0px;
}

.ratting_starr {
    padding: 0px;
    margin-bottom: 0px;
}

.ratting_starr li {
    list-style: none;
    display: inline-block;
    font-size: 14px;
    color: #f06a5c;
}

.box_row {
    display: flex;
}

.your_review {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
   /* border-radius: 20px;*/
    padding: 20px;
}
.review_business_link {
    display: -webkit-flex;
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;
}
.green_input.green_span {
    padding: 10px 0px 10px 10px;
    border-radius: 5px 0px 0px 5px;
}
.green_input {
    background-color: #fff;
    /* border: 1px solid #d1f2eb; */
    width: 100%;
    padding: 10px 0px;
    border-radius: 0px 5px 5px 0px;
    font-size: 14px;
    color: #1a0061;
    font-weight: 500;
}

.rvlnkinput { width: inherit; }

.blue_border_btn {
    font-size: 12px;
    color: #2b65f0;
    font-weight: 500;
    border: 1px solid #2b65f0;
    width: 100%;
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

.dropdown-toggle {
    font-size: 14px;
    line-height: 20px;
    color: #0f0e0e !important;
    font-family: "Roboto";
    font-weight: 400;
    cursor: pointer;
}

.sidebar_link img {
    padding-right: 5px;
    width: 17%;
}
.nav-link.active {
    border: none;
    border-bottom: 1px solid #2b65f0 !important;
    color: #2b65f0 !important;
}

.nav-link {
    border: none;
    color: #929da4 !important;
}

.nav-tabs {
    border-bottom: none !important;
}

.step_form {
    max-width: 600px;
    margin: 0 auto;
}

.step_one {
    max-width: 450px;
    margin: 30px auto;
}

.step_two {
    max-width: 650px;
    margin: 50px auto;
}
select#number_of_locations {
    font-size: 14px;
}
.dashboard_txt_area {
    width: calc(100% - 300px);
    float: right;
    background-color: #fff;
    border-radius: 20px 0px 0px 0px;
    box-shadow: 0px 0px 20px #eee;
}

.padd_40 {
    padding: 40px;
}

.step_complete {
    height: 54px;
    line-height: 54px;
    z-index: 1;
    position: relative;
    color: #43ceaf;
    font-size: 24px;
}

.step_complete i {
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.input-group-text {
    color: #929da4;
    background-color: #f1f5f8;
    font-weight: 700;
    width: 37px;
}

.step_review {
    display: flex;
    padding: 0px;
    list-style: none;
    justify-content: end;
}

.step_review_li {
    background-color: #1a0061;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}
.review_txt {
    max-width: 120px;
}

.custom-radio .custom-checkbox .custom-control-label::before {
    border-radius: 50%;
    background-color: #dddde8;
    border: #ffffff solid 2px;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #43ceaf;
    background-color: #43ceaf;
    box-shadow: none !important;
}

.payment_method {
    padding: 0px;
}

.payment_method li {
    display: inline-block;
}

.slectbox_cus {
    height: calc(1.5em + .75rem + 0px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: inline-block;
}

.order_summary {
    background-color: #f7f9fb;
    padding: 20px;
    margin-right: 15px;
    margin-top: 37px
}


/**bus-setting**/

.tab_link_button {
    border: 1px solid #eee !important;
    display: inline-flex; 
    border-radius: 40px;
}

.tab_link_button .nav-link {
    padding: 10px 30px;
}

.tab_link_button .nav-link.active {
    border-bottom: 1px solid #2b65f0 !important;
    color: #fff !important;
    background-color: #2b65f0 !important;
    border-radius: 40px;
}

.left_btn {
    background-color: #e0e6ee;
    font-size: 12px;
    color: #404c54;
    font-weight: 700;
    cursor: default !important;
}

.right_btn {
    border: 1px solid #ced4da;
    font-size: 12px;
    color: #404c54;
    font-weight: 700;
}

.pagination {
    justify-content: center;
    margin: 20px 0px;
}

.pagination li a {
    background-color: #e0e6ee;
    margin: 0px 10px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
    content: "\f058";
    font-family: FONTAWESOME;
    color: #43ceaf;
    font-size: 20px;
    cursor: pointer;
    margin-top: -6px;
}

.custom-radio .custom-control-label::after {
    left: -1.55rem;
    cursor: pointer;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    border-color: transparent;
    background-color: transparent;
}

.close_style {
    position: absolute;
    right: -10px;
    top: -10px;
    background: #163379;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.fixed-bottom #navb {
    display: block;
}

.bg-dark {
    background-color: #d6d5de !important;
}

h6.heading_col.font_16 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
p.txt_col.fontweight500.font_12.mb-4 {
    text-align: center;
    font-size: 20px;
    color: #f16e5c;
    text-transform: uppercase;
}

.menu_btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#toggle_btn {
    padding: 0px 20px 20px 20px;
}
.menu_btn {display: none;}

@media (max-width:1024px) {
    .mar_bot {
        margin-bottom: 30px;
    }
    .content_body {
        width: 100%;
    }
    .menu_btn {display: inline-block;}

}

@media (max-width: 980px) {
    .side_bar {
        display: none;
    }
}

@media (max-width: 767px) {
    .mar_bot {
        margin-bottom: 70px;
    }
    .center_sec {
        padding: 30px 20px 70px 20px;
    }
    .needs-validation {
        margin-bottom: 20px;
    }
    .starbuck_row {
        height: auto;
        padding: 30px 0px;
    }
    .fixed-bottom .nav-link {
        font-size: 12px;
    }
    .step_complete {
        height: 100% !important;
        line-height: inherit !important;
    }
}

@media (max-width: 480px) {
    .step_review {flex-wrap: wrap;}
    .step_review_li {margin-bottom: 10px;}
    .content_body {padding: 10px;}
}


/**step-one**/

.step-wrapper {
    padding: 20px 0;
    display: none;
}

.step-wrapper.active {
    display: block;
}

.step-indicator {
    border-collapse: separate;
    display: table;
    margin-left: 0px;
    position: relative;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    padding-left: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    /*border-top: 1px solid #ced4da;*/
/*    border-bottom: 1px solid #ced4da;
*/}

.step-indicator li {
    display: table-cell;
    position: relative;
    float: none;
    padding: 0;
    width: 1%;
}

.step-indicator li:after {
    background-color: #ccc;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 100%;
    top: 54px;
}

.step-indicator li:after {
    left: 50%;
}

.step-indicator li:last-child:after {
    display: none;
}

.step-indicator li.active .step {
    /*border-color: #4183D7;*/
    color: #4183D7;
}

.step-indicator li.active .caption {
    color: #4183D7;
}

.step-indicator li.complete:after {
    background-color: #87D37C;
}

.step-indicator li.complete .step {
    border-color: #87D37C;
    color: #87D37C;
}

.step-indicator li.complete .caption {
    color: #87D37C;
}

.step-indicator .step {
    background-color: #f1f1f5;
    border-radius: 50%;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 14px;
    height: 64px;
    line-height: 64px;
    margin: 0 auto;
    position: relative;
    width: 64px;
    z-index: 1;
}

.step-indicator .step:hover {
    cursor: pointer;
}

.step-indicator .caption {
    color: #ccc;
    padding: 11px 16px;
    font-size: 12px;
    color: #000000;
    font-weight: 700;
}

.step_name {
    font-size: 12px;
    color: #2f3246;
    font-weight: 700;
    margin-bottom: 10px;
}


/**responsive-steps**/

.tracking-detail {
    padding: 3rem 0
}

#tracking {
    margin-bottom: 1rem
}

[class*=tracking-status-] p {
    margin: 0;
    font-size: 1.1rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center
}

[class*=tracking-status-] {
    padding: 1.6rem 0
}

.tracking-status-intransit {
    background-color: #65aee0
}

.tracking-status-outfordelivery {
    background-color: #f5a551
}

.tracking-status-deliveryoffice {
    background-color: #f7dc6f
}

.tracking-status-delivered {
    background-color: #4cbb87
}

.tracking-status-attemptfail {
    background-color: #b789c7
}

.tracking-status-error,
.tracking-status-exception {
    background-color: #d26759
}

.tracking-status-expired {
    background-color: #616e7d
}

.tracking-status-pending {
    background-color: #ccc
}

.tracking-status-inforeceived {
    background-color: #214977
}

.tracking-item {
    border-left: 1px solid #e5e5e5;
    position: relative;
    padding: 2rem 1.5rem .5rem 2.5rem;
    font-size: .9rem;
    margin-left: 1rem;
    min-height: 5rem
}

.tracking-item:last-child {
    padding-bottom: 4rem
}

.tracking-item .tracking-date {
    margin-bottom: .5rem
}

.tracking-item .tracking-date span {
    color: #888;
    font-size: 85%;
    padding-left: .4rem
}

.tracking-item .tracking-content {
    padding: .5rem .8rem;
    background-color: #f4f4f4;
    border-radius: .5rem
}

.tracking-item .tracking-content span {
    display: block;
    color: #888;
    font-size: 85%
}

.tracking-item .tracking-icon {
    line-height: 2.6rem;
    position: absolute;
    left: -1.3rem;
    width: 2.6rem;
    height: 2.6rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.1rem;
    background-color: #fff;
    color: #fff
}

.tracking-item .tracking-icon.status-sponsored {
    background-color: #f68
}

.tracking-item .tracking-icon.status-delivered {
    background-color: #4cbb87
}

.tracking-item .tracking-icon.status-outfordelivery {
    background-color: #f5a551
}

.tracking-item .tracking-icon.status-deliveryoffice {
    background-color: #f7dc6f
}

.tracking-item .tracking-icon.status-attemptfail {
    background-color: #b789c7
}

.tracking-item .tracking-icon.status-exception {
    background-color: #d26759
}

.tracking-item .tracking-icon.status-inforeceived {
    background-color: #214977
}

.tracking-item .tracking-icon.status-intransit {
    color: #e5e5e5;
    border: 1px solid #e5e5e5;
    font-size: .6rem
}

@media(min-width:992px) {
    .tracking-item {
        margin-left: 10rem
    }
    .tracking-item .tracking-date {
        position: absolute;
        left: -10rem;
        width: 7.5rem;
        text-align: right
    }
    .tracking-item .tracking-date span {
        display: block
    }
    .tracking-item .tracking-content {
        padding: 0;
        background-color: transparent
    }
}
#tracking {
    display: none;
}
@media screen and (max-width:767px) {
    .step_complete {
        height: auto;
        line-height: normal; 
    }
    .step-indicator {display: none;}
    #tracking {display: block;}
}  
.useflex{
display: flex;
flex-wrap: wrap;
}
.side_bar {position: relative;}
.side_bar li:last-child {
    position: absolute;
    bottom: 0px;
}
.white_background {
 background-color: #fff;
 padding: 40px;
 border-radius: 20px 0px 0px 0px;
 box-shadow: 0px 0px 20px #eee;
}
.read-more-button {
    display: inline-block;
}
.alert-info { text-align: center; }
.alert-info {
    color: #fff;
    background-color: #1a0061;
    border-color: #1a0061;
    border-radius: 0 !important;
}
.highLightedtr { background: #e0e6ee; }

.wth_65 { width: 65%; }
.wth_60 { width: 60%; }
.wth_55 { width: 55%; }
.wth_20 { width: 20%; }
.wth_15 { width: 15%; }
.wth_5 { width: 5%; }
.inline_border_btn {
    font-size: 12px;
    color: #2b65f0;
    font-weight: 500;
    border: 1px solid #2b65f0;
    display: inline-block;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

.inline_comn_border_btn {
    font-size: 14px;
    color: #1a0061;
    font-weight: 500;
    border: 1px solid #1a0061;
    display: inline-block;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 20px;
}

.inline_comndb_border_btn,.inline_border_btn {
      font-size: 14px;
    color: #1a0061;
    font-weight: 500;
    border: 1px solid #1a0061;
    display: inline-block;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 90px;
}
.inline_border_btn{
    padding: 6px 10px 5px 10px;
}
.inline_comndb_border_btn:hover,.inline_border_btn:hover, .inline_comn_border_btn:hover{
    background: #1a0061;
    color: #fff !important;
    text-decoration: none;
    border: none;
}
.readMoreText { padding-left: 10px; }

.box_column.frst {
    width: 60% !important;
}
.box_column {
    width: 25% !important;
}
.box_column.rating {
    width: 18% !important;
}
/*.row.box_txt.border_radius_20.m-0.height_100 {
    border-radius: 20px;
}*/
.search.box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.col-2.search.box_icon {
    background: transparent;
}

.pagination .active a {
    background-color: #15a1c4;
    color: #fff;
}

.rjOverlayShow {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.8);
    height: 100vh;
    overflow: hidden !important;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.rjOverlayHide {
    display: none;
}

.waitcc { 
 display: block; 
 width: 100%; 
 font-size: 16px; 
 font-weight: bold;
 padding-top: 10px; 
}

.dropdown-menu {left: -70px;}

.businessPhone input::placeholder {
  color: #000000;
  opacity: 1;
}

.businessPhone input:-ms-input-placeholder {
 color: #000000;
}

.businessPhone input::-ms-input-placeholder {
 color: #000000;
}

.myCopytxt {position: absolute;}
#gethelpModal { top: 20% }
.sidebar_link.active {color: #2b65f0 !important;}

/********LiveReview page css**********/
html {
    background-color: #f1f5f8;
    height: 100%;
}
ul.dashbord_logo img {
    width: 40%;
}
li.logo img {
    width: 60%;
}
div#app {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-shadow: 0 0 7px #ccc;
}
p.m-0 {
    margin: 0!important;
    float: left;
    background: linear-gradient(0deg, rgba(228,66,91,1) 0%, rgba(240,106,92,1) 60%);
    padding: 10px 40px 10px 40px;
    border-radius: 21px;
}
p.m-0 a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
p.m-0 a:hover{
    color: #fff !important;
}
.react-phone-number-input__input {
    height: calc(0.3rem * 6);
    outline: none;
    border-radius: 4px;
    padding: 17px;
    border: 1px solid #ccc;
    transition: border 0.1s;
    font-size: 13px;
}
input.react-phone-number-input__input.react-phone-number-input__phone::placeholder {
    color: #8f9caf;
}
.dropdown-menu.show{
    top: 16px !important;
    box-shadow: 0 0 7px #ccc;
    border: 1px solid #ccc;
}
li.dropdown.pull-right {
    text-align: right;
}
a.dropdown-toggle img {
    width: 7%;
}
.dropdown-item {
    padding: 7px 30px 7px 30px !important;  
}
i.fa.fa-check-circle {
    font-size: 55px;
    color: #1a0061;
}
/*h1.black_bk_col.fontweight500.font_20.mb-4.text-center {
    text-align: left !important;
}*/
.step_one .blue_btn_box {
    border: none;
    float: none !important;}

    form.needs-validation {
    padding: 35px;
}
.box_select_dgin {
    font-size: 14px;
}
div#menu1,div#home {
    background: #fff;
    margin-top: 13px;
}

.btn-group {
    margin-left: 16px;
}
a.navbar-brand img {
    width: 35%;
}

button.blue_btn.mt-3{
     background: linear-gradient(0deg, rgba(228,66,91,1) 0%, rgba(240,106,92,1) 60%);
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 24px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
}
img.leftimg {
    width: 100%;
  
}
.left-side {
    padding-top: 6%;
}
h1.fontweight500.heading_col.font_32 {
    font-style: italic;
    color: #f16e5c;
    text-shadow: 0 2px 3px #190060;
    font-size: 40px;
}
.right_side_section {
    text-align: right;
}
.black_bk_col{
    text-align: left;
}
.chart_section{
    margin-bottom: 30px;
}
.dynamic_profile_pic {
    width: 60px !important;
    border-radius: 31px;
    height: 60px;
    margin-right: 10px;
}
.pricing_table_heading_section {
    width: 100%;
    text-align: center;
}
.step_one{
    max-width: 750px;
}
.contact_support_section a {
    font-size: 12px;
    color: #f0695c;
}
.contact_support_section {
    padding-top: 20px;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after{
    color: #e4425b;
}
.custom-checkbox.mb-3 .custom-control-input:checked~.custom-control-label::before{
    border-color: #e4425b;
    background-color: #e4425b;
}
.back_btn a:hover {
    color: #fff !important;
}
.social_icon li a i{
    font-size: 15px;
}
#message{
    color: #fff;
}
.header_dashboard_btn {
    background: linear-gradient(0deg, rgba(228,66,91,1) 0%, rgba(240,106,92,1) 60%);
    color: #fff !important;
    border-radius: 30px;
    width: 120px;
    height: 40px;
    margin-top: -3px;
    line-height: 25px!important;
    text-align: center;
}
.navbar-nav .nav-item:last-child .nav-link.header_dashboard_btn {
    color: #fff !important;
}
[data-title] {
  outline: red dotted 1px; /*optional styling*/
  font-size: 30px; /*optional styling*/
  
  position: relative;
  cursor: help;
}
[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -26px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
}
[data-title]:hover::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 8px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;    
  border-bottom: 8px solid #000;
}
.loading_img_sec {
  width: 39px;
  float: right;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.admin_btn_link, .popup_content_sec {
    text-align: center;
}
.admin_btn {
    background-color: #f06a5c;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    float: none;
    margin: 0 9px 0 10px;
}